# ===============================
# Python
# ===============================
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv/
*.env

# ===============================
# Jupyter Notebooks
# ===============================
.ipynb_checkpoints/

# ===============================
# Datos
# ===============================
data/raw/
data/processed/
data/interim/
data/external/

# ===============================
# Modelos
# ===============================
models/
*.h5
# *.pkl
*.joblib
*.pt
*.ckpt

# ===============================
# Salidas / resultados
# ===============================
outputs/
logs/

# ===============================
# IDEs y editores
# ===============================
.vscode/



# ======================================
# Archivos específicos de este proyecto
# ======================================

# Ignorar archivos de datos pesados en CUALQUIER carpeta
*.parquet
*.csv

# En caso de querer subir el archivo original de churn, eliminar # de la siguiente linea
# !src/churn.csv 

# Ignorar carpeta de datos mensuales en src
src/monthly_data/

# Ignorar la carpeta de imágenes (si son plots generados automáticamente)
img/
.idea/
*.sublime-project
*.sublime-workspace
